@use "../utils/variables" as v;
@use "../utils/mixins" as m;

#new {
  h2 {
    @include m.header-align;
    font-size: 4rem;
  }

  .card {
    margin: 2rem;
    font-size: 1.5rem;
    margin: auto;
    // gap: 10rem;
    .card-img-top {
      width: 100%;
    }

    button {
      width: 10rem;
      height: 10rem;
    }
  }
}
