@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.idea-card {
  padding: 5rem;

  img {
    width: 10rem;
    display: block;
    margin: 3rem auto;
    border: solid black;
    border-radius: 50%;
    padding: 1.5rem;
  }

  p {
    text-align: left;
    font-size: 1.5rem;
  }
}
