// COLORS
$primary: #7a44ff;

//BORDER RADIUS
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-pill: 0;

$card-border-color: $primary;

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

// FONT FAMILY
$font-family-base: "Love Ya Like A Sister", cursive;

// HEADER FONT SIZE
$h1-font-size: $font-size-base * 10;
$h2-font-size: $font-size-base * 5;
$h3-font-size: $font-size-base * 3.5;

// LEAD FONT SIZE
$lead-font-size: $font-size-base * 1.75;

// This is where you can import other stylesheets or write your scss code
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
